<template>
  <v-app id="inspire">
    <v-content>
      <Loading message="Loading..." :dialog="$root.loading"></Loading>
      <transition name="moveInUp">
        <router-view :key="$route.fullPath" />
      </transition>
    </v-content>
    <v-footer app>
      <v-row no-gutters>
         <v-col md="10" align="left" justify="left" align-self="center">
           © {{ copyrightDate }}. All Rights Reserved.
         </v-col>
         <v-col md="2" align="end" justify="end" align-self="center">
           <electron-link
            href="https://simsdev.info"
            >
            <v-img 
              :src="require('@/assets/simsdevLogo_big.png')" 
              :contain="true" 
              max-height="40"></v-img>
          </electron-link>
         </v-col>
      </v-row>
        <!-- <span>&copy; {{copyrightDate}} <a href="https://simsdev.info" target="_blank">SIMSDEV</a></span> -->
    </v-footer>
  </v-app>
</template>

<script>
import Loading from '@/components/Loading'
import ElectronLink from 'vue-electron-link'

export default {
  name: 'App',

  components: {
    Loading,
    ElectronLink
  },

  watch: {
    // $route (to, from) {
    //   //$('body').removeClass('sidebar-mobile-main')
    // }
  },

  created() {
    this.$vuetify.theme.dark = true
  },

  data: () => ({
    startYear: '2017'
  }),

  computed: {
    copyrightDate: function() {
      const dateNow = new Date()
      const dateBase = 2017
      return (dateNow.getFullYear() > dateBase ? dateBase + '-' + dateNow.getFullYear() : dateNow.getFullYear())
    }
  },

  methods: {
  }
};
</script>

<style>
.moveInUp-enter-active {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.moveInUp-enter-active {
  animation: fadeIn 0.5s ease-in;
}

.moveInUp-leave-active {
  animation: fadeOut 0.25s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.footer-text {
    font-size: 0.85rem;
  }

  .footer-logo {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }
</style>
