<template>
  <v-overlay opacity="0.9" z-index="2" v-if="dialog">
    <v-dialog
      v-model="dialog"
      hide-overlay
      persistent
      width="300"
    >
      <v-card
        dark
        align="center"
        justify="center"
      >
        <v-card-text style="padding: 1.5rem;">
          <h2 v-if="message !== null" class="mb-3">{{message}}</h2>
          <!-- <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear> -->
          <v-progress-circular indeterminate :size="50" :width="4" :color="progressColor"></v-progress-circular>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-overlay>
</template>

<script>
    export default {
        name: "Loading",
        data: function () {
            return {
            }
        },
        props: {
            value: {type: Boolean, default: false},
            message: {type: String, default: null},
            progressColor: {type: String, default: 'red'},
            dialog: {type: Boolean, default: false}
        }
    }
</script>

<style>
  .dialog.centered-dialog,
  .v-dialog.centered-dialog
 {
    background: #282c2dad;
    box-shadow: none;
    border-radius: 6px;
    width: auto;
    color: whitesmoke;
  }
</style>