<template>
  <v-snackbar
      v-model="showSnackbar"
      :bottom="true"
      :color="color"
      :multi-line="false"
      :timeout="timeoutInMs"
    >
      {{ message }}
      <v-btn
        dark
        text
        @click="showSnackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
</template>

<script>
    export default {
        name: "Snackbar",
        data: function () {
            return {
            }
        },
        props: {
            color: {type: String, default: ''},
            timeout: {type: Number, default: 5},
            message: {type: String, default: null},
            showSnackbar: {type: Boolean, default: false}
        },
        computed: {
          timeoutInMs: function () { return this.timeout*1000 }
        }
    }
</script>

<style>
</style>