<template>
  <v-app id="inspire">
    <v-content>
      <Loading message="Carregando..." :dialog="$root.loading"></Loading>
      <transition name="moveInUp">
        <router-view :key="$route.fullPath" />
      </transition>
    </v-content>
    <v-footer app>
        <span>&copy; 2019 - <a href="https://simsdev.info" target="_blank">SIMSDEV</a></span>
    </v-footer>
  </v-app>
</template>

<script>
import Loading from '@/components/Loading'

export default {
  name: 'App',

  components: {
    Loading
  },

  watch: {
    // $route (to, from) {
    //   //$('body').removeClass('sidebar-mobile-main')
    // }
  },

  created() {
    this.$vuetify.theme.dark = true
  },

  data: () => ({
    //
  }),
};
</script>

<style>
.moveInUp-enter-active {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.moveInUp-enter-active {
  animation: fadeIn 0.5s ease-in;
}

.moveInUp-leave-active {
  animation: fadeOut 0.25s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
</style>
