<template>
    <v-container>
        <v-row>
            <v-col md="12" align="center" justify="center">
                <h2>LED CONTROLLER</h2>
            </v-col>
        </v-row>
        <v-row>
            <v-col md="4" align="center" justify="center" style="height: 500px;">
                <v-card id="divColorPicker" dark>
                    <h2 class="pt-2 pb-2">Device List</h2>
                    <v-simple-table
                    :dense="true"
                    :fixed-header="false"
                    :height="300"
                    dark
                    v-if="devices && devices.length > 0"
                    >
                        <template v-slot:default>
                            <tbody>
                                <tr v-for="(item, i) in devices" :key="'magic'+i" @click="selectedDevice = item; retrieveStatus()">
                                    <td>
                                        <span style="font-size: 1.1rem;">{{item.address}}</span><br />
                                        <span style="font-size: 0.6rem;">ID {{item.id}}</span><br />
                                        <span style="font-size: 0.6rem;">Model {{item.model}}</span><br />
                                        <span style="font-size: 0.6rem;">APP: MagicHome</span>
                                    </td>
                                    <td>
                                        <v-avatar class="ma-3" size="48" tile>
                                            <!-- <v-img src="http://lorempixel.com/200/200/people"></v-img> -->
                                            <!-- <v-img src="https://materialdesignicons.com/api/download/F789CE44-7EA3-4E97-88FB-BEC22EB2030C/FFFFFF/1/FFFFFF/0/48" v-if="selectedDevice === item"></v-img> -->
                                            <v-icon v-if="selectedDevice === item">{{ icons.mdiCheck }}</v-icon>
                                        </v-avatar>
                                    </td>
                                </tr>
                                <tr v-for="(item, i) in ewelinkDevices" :key="'ewelink'+i" @click="selectedDevice = item; retrieveStatus()">
                                    <td>
                                        <span style="font-size: 1.1rem;">{{item.ip}}</span><br />
                                        <span style="font-size: 0.6rem;">Name {{item.name}}</span><br />
                                        <span style="font-size: 0.6rem;">ID {{item.deviceid}}</span><br />
                                        <span style="font-size: 0.6rem;">Model {{item.brandName}} {{item.productModel}}</span><br />
                                        <span style="font-size: 0.6rem;">APP: eWeLink</span>
                                    </td>
                                    <td>
                                        <v-avatar class="ma-3" size="48" tile>
                                            <!-- <v-img src="http://lorempixel.com/200/200/people"></v-img> -->
                                            <!-- <v-img src="https://materialdesignicons.com/api/download/F789CE44-7EA3-4E97-88FB-BEC22EB2030C/FFFFFF/1/FFFFFF/0/48" v-if="selectedDevice === item"></v-img> -->
                                            <v-icon v-if="selectedDevice === item">{{ icons.mdiCheck }}</v-icon>
                                        </v-avatar>
                                    </td>
                                </tr>
                            </tbody>
                        </template>
                    </v-simple-table>
                </v-card>
            </v-col>
            <v-col md="4" align="center" justify="center">
                <v-card id="divColorPicker" dark>
                    <!-- <v-color-picker v-model="color" @update:color="eventColorChanged"></v-color-picker> -->
                    <v-color-picker v-if="selectedDeviceType === 'MAGIC'" ref="colorPicker" v-model="color" :hide-mode-switch="true" :width="colorPickerWidth"></v-color-picker>
                    <!-- <v-btn v-if="selectedDeviceType === 'EWELINK'" color="#ffffff" fab :width="colorPickerWidth"> -->
                    <v-card-text v-if="selectedDeviceType === 'EWELINK'">
                        <v-row>
                            <v-col md="12" align="center" justify="center">
                                <v-btn :light="currentDeviceStatus" :block="false" :height="100" :width="100" @click="changeDeviceStatus('toggle')">
                                    <v-icon>{{ icons.mdiPower }}</v-icon>
                                </v-btn>
                            </v-col>
                            <v-col md="12" align="center" justify="center">
                                Device is 
                                <span v-if="!currentDeviceStatus" class="font-weight-bold red--text">OFF</span>
                                <span v-if="currentDeviceStatus" class="font-weight-bold green--text">ON</span>
                            </v-col>
                        </v-row>
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col md="4" align="center" justify="center">
                
                <v-btn class="mb-2" :block="true" @click="reloadAll()"><v-icon class="mr-2">{{ icons.mdiRefreshCircle }}</v-icon> Refresh Devices List</v-btn>
                <v-btn v-if="selectedDeviceType === 'MAGIC'" class="mb-2" :block="true" @click="changeDeviceStatus(true)">Turn ON</v-btn>
                <v-btn v-if="selectedDeviceType === 'MAGIC'" class="mb-2" :block="true" @click="changeDeviceStatus(false)">Turn OFF</v-btn>
                <v-btn v-if="selectedDeviceType === 'MAGIC'" class="mb-2" :block="true" @click="changeColor(colorPicker.rgba)">Set Color</v-btn>
                <v-btn class="mb-2" :block="true" @click="showConfig(true)">eWeLink Configuration</v-btn>
                <!-- <v-btn :block="true" :color="(autoSetColor ? 'success' : 'error')" @click="autoSetColor = !autoSetColor">Auto-Set Color <v-icon v-if="autoSetColor">{{ icons.mdiCheck }}</v-icon></v-btn> -->
            </v-col>
            <!-- <v-col md="3">
                <pre style="color:white;">{{colorPicker}}</pre>
            </v-col>
            <v-col md="3">
                <pre style="color:white;">{{color}}</pre>
            </v-col> -->
        </v-row>
        <Snackbar :color="snackbar.color" :timeout="snackbar.timeout" :message="snackbar.message" :showSnackbar="snackbar.showSnackbar"></Snackbar>
        <v-dialog
            v-model="configDialog"
            persistent
            max-width="350"
        >
            <v-card>
                <v-toolbar dark color="danger">
                    <v-toolbar-title>eWeLink Configuration</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-toolbar-items>
                        <v-btn dark text @click="showConfig(false)"><v-icon>mdi-close</v-icon> </v-btn>
                    </v-toolbar-items>
                </v-toolbar>
                <!-- <v-card-title class="headline">
                    Use Google's location service?
                </v-card-title> -->
                <v-card-text>
                    <v-form>
                        <v-container>
                            <v-row>
                                <v-col cols="12" md="12">
                                    <v-text-field v-model="ewelink.email" label="Email"></v-text-field>
                                </v-col>
                                <v-col cols="12" md="12">
                                    <v-text-field v-model="ewelink.password" label="Password"
                                    :append-icon="ewelinkShowPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                    :type="ewelinkShowPassword ? 'text' : 'password'"
                                    @click:append="ewelinkShowPassword = !ewelinkShowPassword"></v-text-field>
                                </v-col>
                                <v-col cols="12" md="12">
                                    <v-text-field v-model="ewelink.region" :counter="2" label="Region"></v-text-field>
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="red darken-1" text @click="saveConfig()">
                        Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
import Snackbar from '@/components/Snackbar'
import { mdiCheck, mdiRefreshCircle, mdiPower } from '@mdi/js'
import { Control, Discovery } from 'magic-home';
import * as ewelink from 'ewelink-api';

export default {
    components: {
        Snackbar
    },
    data: () => ({
        icons: {
            mdiPower: mdiPower,
            mdiCheck: mdiCheck,
            mdiRefreshCircle: mdiRefreshCircle
        },
        snackbar: {
            color: '',
            timeout: 5,
            message: '',
            showSnackbar: false
        },
        colorPicker: {
            type: 'rgba',
            rgba: {r: 0, g: 0, b: 0, a: 1}
        },
        ewelink: {
            email: '',
            password: '',
            region: 'us'
        },
        ewelinkShowPassword: false,
        ewelinkConnection: null,
        autoSetColor: false,
        devices: [],
        ewelinkDevices: [],
        selectedDevice: null,
        selectedDeviceType: null,
        selectedDeviceStatus: null,
        configDialog: false
    }),
    computed: {
        color: {
            get () { 
                return this[this.colorPicker.type] 
            },
            set (v) { 
                this[this.colorPicker.type] = v
                this.colorPicker.rgba = v.rgba
            },
        },
        currentDeviceStatus: function() {
            if(!this.selectedDeviceStatus) return false;

            if(this.selectedDeviceStatus.on) {
                return this.selectedDeviceStatus.on;
            }

            if(this.selectedDeviceStatus.state) {
                return (this.selectedDeviceStatus.state === 'on' ? true : false);
            }
        },
        colorPickerWidth: function() {
            return (document.getElementById('divColorPicker') ? document.getElementById('divColorPicker').clientWidth : 300)
        }
    },
    created () {
    },
    mounted() {
        window.thisVue = this
        
        var ewelinkConfig = localStorage.getItem('ewelinkConfig');
        console.log('ewelink config found', ewelinkConfig);
        if(ewelinkConfig) {
            this.ewelink = JSON.parse(ewelinkConfig);
            console.log('ewelink config loaded', this.ewelink);
        }

        this.reloadAll()
    },
    methods: {
        showConfig: function(show) {
            this.configDialog = show
        },
        showSnackbar: function(message = '', color = '', timeout = 5) {
            var vm = this

            this.snackbar = {
                color: color,
                timeout: timeout,
                message: message,
                showSnackbar: true
            }

            setTimeout(function() { vm.snackbar.showSnackbar = false }, (timeout*1000))
        },
        validateBeforeRequest: function() {
            if (!this.selectedDevice) {
                this.showSnackbar('Select a device first', 'error')
                return false
            }

            return true
        },
        saveConfig: function() {
            localStorage.setItem('ewelinkConfig', JSON.stringify(this.ewelink));
            this.showConfig(false);
        },
        reloadAll: function() {
            this.searchEwelink();
            this.searchDevices();
        },
        searchEwelink: async function() {
            if(this.ewelink.email && this.ewelink.password && this.ewelink.region) {
                /* instantiate class */
                this.ewelinkConnection = new ewelink({
                    email: this.ewelink.email,
                    password: this.ewelink.password,
                    region: this.ewelink.region,
                });

                /* get all devices */
                const devices = await this.ewelinkConnection.getDevices();
                console.log(devices);
                this.ewelinkDevices = devices;
                this.showSnackbar('Ewelink device list retrieved!', 'success')
            }
        },
        searchDevices: function() {
            // this.$http.get(this.$root.apiURL + '/api/v1/led/scan').then(response => {
            //     this.devices = response.data.result
            // })
            this.$root.loading = true
            this.devices = []

            new Discovery().scan(1000).then(success => {
                this.devices = success
                //this.devices.push({ address: '123.123.123.123', model: 'asdasdasd', id: '213123' })
                //this.devices.push({ address: '123.123.123.123', model: 'asdasdasd', id: '213123' })
                //this.devices.push({ address: '123.123.123.123', model: 'asdasdasd', id: '213123' })
                //this.devices.push({ address: '123.123.123.123', model: 'asdasdasd', id: '213123' })
                //this.devices.push({ address: '123.123.123.123', model: 'asdasdasd', id: '213123' })
                console.log(success)
                this.showSnackbar('Device list retrieved!', 'success')
                this.$root.loading = false
            }, error => {
                console.error(error)
                this.showSnackbar('Error retrieving device list!')
                this.$root.loading = false
            })
        },
        retrieveStatus: async function() {
            if(this.validateBeforeRequest()) {
                //this.$http.get(this.$root.apiURL + '/api/v1/led/status/'+this.selectedDevice.address).then(response => {
                //    this.selectedDeviceStatus = response.data.result
                //    console.log(this.selectedDeviceStatus)
                //    
                //    this.color = { 
                //        rgba: { 
                //            r: this.selectedDeviceStatus.color.red,
                //            g: this.selectedDeviceStatus.color.green,
                //            b: this.selectedDeviceStatus.color.blue,
                //            a: 1
                //        }
                //    }
                //    
                //    this.showSnackbar('Status retrieved!', (response.data.status ? 'success' : 'error'))
                //})

                if (this.selectedDevice.apikey) { // EWELINK
                    this.selectedDeviceType = 'EWELINK'
                    const status = await this.ewelinkConnection.getDevicePowerState(this.selectedDevice.deviceid)
                    this.selectedDeviceStatus = status
                    //console.log('ewelink status', this.selectedDeviceStatus)
                    this.showSnackbar('Status retrieved!', 'success')
                } else { // MAGIC
                    this.selectedDeviceType = 'MAGIC'
                    let light = new Control(this.selectedDevice.address)
                    return light.queryState().then(success => {
                        this.selectedDeviceStatus = success
                        //console.log('magichome status', this.selectedDeviceStatus)
                        this.showSnackbar('Status retrieved!', 'success')
                    }, error => {
                        console.error(error)
                        this.showSnackbar('Failed to retrieve status', 'error')
                    })
                }
            }
        },
        changeDeviceStatus: async function(shouldTurnOn) {
            if(this.validateBeforeRequest()) {
                // const action = (shouldTurnOn ? 'turnOn' : 'turnOff')
                // this.$http.get(this.$root.apiURL + '/api/v1/led/'+action+'/'+this.selectedDevice.address).then(response => {
                //     this.showSnackbar(response.data.result, (response.data.status ? 'success' : 'error'))
                // })

                if(shouldTurnOn === 'toggle') {
                    shouldTurnOn = !this.currentDeviceStatus
                }

                if (this.selectedDevice.apikey) { // EWELINK
                    const action = (shouldTurnOn ? 'ON' : 'OFF')
                    const status = await this.ewelinkConnection.setDevicePowerState(this.selectedDevice.deviceid, action.toLowerCase());
                    this.selectedDeviceStatus = status
                    console.log('ewelink status', this.selectedDeviceStatus)
                    this.showSnackbar('Lights '+action, 'success')
                } else { // MAGIC
                    const action = (shouldTurnOn ? 'ON' : 'OFF')
                    let light = new Control(this.selectedDevice.address)
                    return light.setPower(shouldTurnOn).then(success => {
                        light.queryState().then(successResult => {
                        this.selectedDeviceStatus = successResult
                        });
                        this.showSnackbar('Lights '+action, 'success')
                    }, error => {
                        console.error(error)
                        this.showSnackbar('Failed to turn the lights '+action, 'error')
                    })
                }
            }
        },
        changeColor: function(rgba) {
            if(this.validateBeforeRequest()) {
                // const colorString = rgba.r + ',' + rgba.g + ',' + rgba.b + ',' + (rgba.a*100).toFixed(2)
                // this.$http.get(this.$root.apiURL + '/api/v1/led/changeColor/'+this.selectedDevice.address+'/'+colorString).then(response => {
                //     this.showSnackbar(response.data.result, (response.data.status ? 'success' : 'error'))
                // })

                let light = new Control(this.selectedDevice.address);
                return light.setColorWithBrightness(rgba.r, rgba.g, rgba.b, (rgba.a*100).toFixed(2)).then(success => {
                    this.showSnackbar('Color set!', 'success')
                }, error => {
                    console.error(error)
                    this.showSnackbar('Failed to set color', 'error')
                })
            }
        },
        eventColorChanged: function(obj) {
            if (this.autoSetColor && this.validateBeforeRequest()) {
                this.changeColor(obj.rgba)
            }
        },
    }
}
</script>

<style>
html,body {
    overflow: hidden
}

.col {
    flex-basis: auto!important;
}

.v-card__text {
    font-size: 1rem;
}

/* The emerging W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #262626;
}
*::-webkit-scrollbar-thumb {
  background-color: #424242;
  border-radius: 20px;
  border: 3px solid #262626;
}
</style>