<template>
    <v-container>
        <v-row>
            <v-col md="12" align="center" justify="center">
                <h2>LED CONTROLLER</h2>
            </v-col>
        </v-row>
        <v-row v-if="devices && devices.length > 0">
            <v-col v-for="(item, i) in devices" :key="i" md="4">
                <v-card :color="'#101010'" dark @click="selectedDevice = item; retrieveStatus()">
                    <div class="d-flex flex-no-wrap justify-space-between">
                        <div>
                            <v-card-title class="headline" v-text="item.address"></v-card-title>
                            <v-card-subtitle>
                                ID {{item.id}}<br />
                                Model {{item.model}}
                            </v-card-subtitle>
                        </div>

                        <v-avatar class="ma-3" size="48" tile>
                            <!-- <v-img src="http://lorempixel.com/200/200/people"></v-img> -->
                            <!-- <v-img src="https://materialdesignicons.com/api/download/F789CE44-7EA3-4E97-88FB-BEC22EB2030C/FFFFFF/1/FFFFFF/0/48" v-if="selectedDevice === item"></v-img> -->
                            <v-icon v-if="selectedDevice === item">{{ icons.mdiCheck }}</v-icon>
                        </v-avatar>
                    </div>
                </v-card>
            </v-col>
        </v-row>
        <v-row>
            <v-col md="4" align="center" justify="center">
                <v-card id="divColorPicker" dark>
                    <!-- <v-color-picker v-model="color" @update:color="eventColorChanged"></v-color-picker> -->
                    <v-color-picker ref="colorPicker" v-model="color" :hide-mode-switch="true" :width="colorPickerWidth"></v-color-picker>
                </v-card>
            </v-col>
            <v-col md="2">
                <v-btn :block="true" @click="changeDeviceStatus(true)">Turn ON</v-btn>
                <v-btn :block="true" @click="changeDeviceStatus(false)">Turn OFF</v-btn>
                <v-btn :block="true" @click="changeColor(colorPicker.rgba)">Set Color</v-btn>
                <!-- <v-btn :block="true" :color="(autoSetColor ? 'success' : 'error')" @click="autoSetColor = !autoSetColor">Auto-Set Color <v-icon v-if="autoSetColor">{{ icons.mdiCheck }}</v-icon></v-btn> -->
            </v-col>
            <v-col md="3">
                <pre style="color:white;">{{colorPicker}}</pre>
            </v-col>
            <v-col md="3">
                <pre style="color:white;">{{color}}</pre>
            </v-col>
        </v-row>
        <Snackbar :color="snackbar.color" :timeout="snackbar.timeout" :message="snackbar.message" :showSnackbar="snackbar.showSnackbar"></Snackbar>
    </v-container>
</template>

<script>
import Snackbar from '@/components/Snackbar'
import { mdiCheck } from '@mdi/js'

export default {
    components: {
        Snackbar
    },
    data: () => ({
        icons: {
            mdiCheck: mdiCheck
        },
        snackbar: {
            color: '',
            timeout: 5,
            message: '',
            showSnackbar: false
        },
        colorPicker: {
            type: 'rgba',
            rgba: {r: 0, g: 0, b: 0, a: 1}
        },
        autoSetColor: false,
        devices: [],
        selectedDevice: null,
        selectedDeviceStatus: null
    }),
    computed: {
        color: {
            get () { 
                return this[this.colorPicker.type] 
            },
            set (v) { 
                this[this.colorPicker.type] = v
                this.colorPicker.rgba = v.rgba
            },
        },
        colorPickerWidth: function() {
            return (document.getElementById('divColorPicker') ? document.getElementById('divColorPicker').clientWidth : 300)
        }
    },
    created () {
    },
    mounted() {
        window.thisVue = this
        this.searchDevices()
    },
    methods: {
        showSnackbar: function(message = '', color = '', timeout = 5) {
            var vm = this

            this.snackbar = {
                color: color,
                timeout: timeout,
                message: message,
                showSnackbar: true
            }

            setTimeout(function() { vm.snackbar.showSnackbar = false }, (timeout*1000))
        },
        validateBeforeRequest: function() {
            if (!this.selectedDevice) {
                this.showSnackbar('Select a device first', 'error')
                return false
            }

            return true
        },
        searchDevices: function() {
            this.$http.get(this.$root.apiURL + '/api/v1/led/scan').then(response => {
                this.devices = response.data.result
            })
        },
        retrieveStatus: function() {
            if(this.validateBeforeRequest()) {
                this.$http.get(this.$root.apiURL + '/api/v1/led/status/'+this.selectedDevice.address).then(response => {
                    this.selectedDeviceStatus = response.data.result
                    console.log(this.selectedDeviceStatus)
                    
                    this.color = { 
                        rgba: { 
                            r: this.selectedDeviceStatus.color.red,
                            g: this.selectedDeviceStatus.color.green,
                            b: this.selectedDeviceStatus.color.blue,
                            a: 1
                        }
                    }
                    
                    this.showSnackbar('Status retrieved!', (response.data.status ? 'success' : 'error'))
                })
            }
        },
        changeDeviceStatus: function(shouldTurnOn) {
            if(this.validateBeforeRequest()) {
                const action = (shouldTurnOn ? 'turnOn' : 'turnOff')
                this.$http.get(this.$root.apiURL + '/api/v1/led/'+action+'/'+this.selectedDevice.address).then(response => {
                    this.showSnackbar(response.data.result, (response.data.status ? 'success' : 'error'))
                })
            }
        },
        changeColor: function(rgba) {
            if(this.validateBeforeRequest()) {
                const colorString = rgba.r + ',' + rgba.g + ',' + rgba.b + ',' + (rgba.a*100).toFixed(2)
                this.$http.get(this.$root.apiURL + '/api/v1/led/changeColor/'+this.selectedDevice.address+'/'+colorString).then(response => {
                    this.showSnackbar(response.data.result, (response.data.status ? 'success' : 'error'))
                })
            }
        },
        eventColorChanged: function(obj) {
            if (this.autoSetColor && this.validateBeforeRequest()) {
                this.changeColor(obj.rgba)
            }
        },
    }
}
</script>

<style>
html,body {
    overflow: hidden
}

.col {
    flex-basis: auto!important;
}

.v-card__text {
    font-size: 1rem;
}
</style>